@font-face {
   font-family: "Gilroy-ExtraBold";
   src: url(../fonts/Gilroy-ExtraBold.otf);
   font-weight: 800;
}
@font-face {
   font-family: "Gilroy-Light";
   src: url(../fonts/Gilroy-Light.otf);
   font-weight: 300;
}